{% extends 'base.html' %}
{% block content %}
<div class="row my-5 text-center">
    <h1>¿Qué trámite deseas realizar?</h1>
    <div class="col-md-6 my-3">
        <div class="card p-4 shadow-sm">
            <h3>Alta de Servicio</h3>
            <p>Contratá internet de forma rápida adjuntando tus datos.</p>
            <a href="/alta" class="btn btn-primary btn-lg">Iniciar Alta</a>
        </div>
    </div>
    <div class="col-md-6 my-3">
        <div class="card p-4 shadow-sm">
            <h3>Baja de Servicio</h3>
            <p>Solicitá la baja del servicio e ingresá tu última factura.</p>
            <a href="/baja" class="btn btn-danger btn-lg">Solicitar Baja</a>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center m-4">
    <div class="col-md-6">
        <div class="card p-4 bg-white shadow-sm">
            <h4>Consultar estado de trámite</h4>
            <form action="/buscar_tramite" method="POST">
                <div class="mb-3">
                    <input type="text" name="uuid" class="form-control" placeholder="Ingresá el UUID de tu trámite" required>
                </div>
                <button type="submit" class="btn btn-dark w-100">Buscar Estado</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}