# ====================================================================
# GITIGNORE UNIFICADO (ISP SERVICE MANAGER)
# ====================================================================

# Test end to end
**/.wdm

# Archivos de configuración de entorno (Ignora en cualquier carpeta)
**/.env
**/.env.*
!**/.env.example

# Entornos virtuales de Python (Cualquier subcarpeta venv o .venv)
**/venv/
**/.venv/
**/env/

# Python: Archivos compilados y Caché
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.Python
**/.pytest_cache/
**/.coverage
**/htmlcov/
**/.mypy_cache/

# Archivos cargados por usuarios / Media local (Backend)
**/uploads/
**/media/
backend-isp/static/uploads/

# Archivos de Bases de Datos Locales
**/*.db
**/*.sqlite3

# Editores de código e IDEs (VS Code y PyCharm)
**/.vscode/
**/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos temporales del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini
