# Configuración del Entorno de Ejecución
FLASK_DEBUG=True
FLASK_SECRET_KEY=super_secure_and_random_dev_key_for_session_management

# Configuración StatSig
STATSIG_SECRET_KEY=super_secret_key

# Conexión Externa con la API de FastAPI
FASTAPI_BASE_URL=http://127.0.0.1:8000